@model NetParts.Models.Collaborator
@{
    ViewData["Title"] = "Recover Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main role="main">
    <br />
    <br />
    <section class="container">
        <aside class="col-sm-4">
            <h3 class="subtitle-doc">
                @SR["Recover Password"]
            </h3>
            <div id="code_login_1">
                <div class="card">
                    <article class="card-body">
                        @{ await Html.RenderPartialAsync("~/Views/Shared/_Message.cshtml"); }

                        <a asp-action="Login" asp-controller="Home" asp-area="Collaborator"></a>
                        <h4 class="card-title mb-4 mt-1">@SR["Recover Password"]</h4>
                        <form method="post">
                            <div class="form-group">
                                <label>@SR["Email"]</label>
                                <input asp-for="Email" class="form-control" placeholder="Email" type="email">
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">@SR["Recover"]</button>
                            </div>
                        </form>
                    </article>
                </div>
            </div>
        </aside>
    </section>
</main>