@model NetParts.Models.Manufacturer
@{
    ViewData["Title"] = "Create";
}

<h1>@SR["Create"]</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="NameManufacturer">@SR["Name Manufacturer"]</label>
        <input asp-for="NameManufacturer" class="form-control">
        <span asp-validation-for="NameManufacturer" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">@SR["Save"]</button> <a asp-action="Index" class="btn btn-info">@SR["Go Back"]</a>
</form>