
@{
    ViewData["Title"] = "Disabled";
}
<br />
<br />
<div class="alert alert-danger col-6 center text-center"  role="alert">
    <h5>@SR["Technical assistance disabled, wait 3 to 5 days for activation!"]</h5>
</div>