@{
    ViewData["Title"] = "ItemSameAssistance";
}
<br />
<br />
<div class="alert alert-danger col-6 center text-center" role="alert">
    <h5>@SR["You cannot add your own product to the cart."]</h5>
</div>