@{
    ViewData["Title"] = "ItemNoExist";
}
<br />
<br />
<div class="alert alert-danger col-6 center text-center" role="alert">
    <h5>@SR["The desired product to add to the cart was not found in our records!"]</h5>
</div>