
@{
    ViewData["Title"] = "ItemSameAdvert";
}
<br />
<br />
<div class="alert alert-danger col-6 center text-center" role="alert">
    <h2>@SR["To purchase from another service provider, complete your current purchase or continue to purchase from the same service provider."]</h2>
</div>

