
@{
    ViewData["Title"] = "Error503";
}
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Error - 503 - @SR["Unavailable server"]</h1>
            <p>
                @SR["Internal error, come back later, in maintenance."]
        </div>
        <div class="col-4">
            <img src="~/img/error503.jpg" style="width:100%" />
        </div>
    </div>
</div>